@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(./images/bg-desktop.svg);
  background-attachment: fixed;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-color: hsl(229, 57%, 11%);
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  overflow-x: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin: 0 auto;
  top: 40%;
  position: absolute;
  padding: 0px 20px;
}

.left-box {
  width: 350px;
  height: 150px;
  margin-right: 20px;
  margin-bottom: 28px;
  background-color: hsl(228, 56%, 26%);
  border-radius: 5px 50px 5px 5px;
}

.logo {
  width: 150px;
  padding-top: 25px;
  padding-left: 30px;
}

.icons-box {
  padding-left: 30px;
  padding-top: 20px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

.icons-img {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons {
  background-color: hsl(229, 57%, 11%);
  width: 60px;
  height: 47px;
  border-radius: 5px;
  padding: 8px 8px 8px 8px;
  margin-left: 15px;
}

.right-box {
  width: 400px;
  height: 120px;
  border-radius: 5px;
  background-color: hsl(228, 56%, 26%);
  color: hsl(229, 7%, 55%);
  padding: 20px;
}

.top-para p {
  color: hsl(243, 100%, 93%);
}

.top-para span {
  font-weight: 700;
}

.progress-bar1 {
  background-color: hsl(229, 57%, 11%);
  width: 280px;
  height: 10px;
  border-radius: 5px;
  position: relative;
  z-index: 0;
  margin-top: 10px;
}

.progress-percentage {
  width: 80%;
  height: 10px;
  border-radius: 5px;
  background: palevioletred;
}

.gb-size {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  width: 280px;
  margin-top: 30px;
  font-weight: 700;
}

.white-box {
  background-color: #fff;
  width: 120px;
  height: 50px;
  border-radius: 5px 5px 0px 5px;
  margin-top: -80px;
  margin-left: 250px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.white-box::after {
  content: " ";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 50px solid #fff;
  border-left: 40px solid transparent;
  position: absolute;
  margin-left: 80px;
  margin-top: 18px;
  z-index: 0;
}

.white-box p {
  color: hsl(229, 7%, 55%);
  font-size: 10px;
}

.white-box p span {
  font-weight: bolder;
  font-size: 25px;
  color: #000;
}

.white-box p {
  z-index: 2;
}

@media (max-width: 700px) {
  body {
    background-image: url("/images/bg-mobile.svg");
    background-size: cover;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 25%;
    width: 100vw;
    margin: 0 auto;
  }

  .left-box {
    width: 450px;
    height: 200px;
    margin-right: 20px;
    margin-bottom: 28px;
    background-color: hsl(228, 56%, 26%);
    border-radius: 5px 100px 5px 5px;
  }

  .logo {
    width: 170px;
    padding-top: 35px;
    padding-left: 40px;
  }

  .icons-box {
    padding-left: 75px;
  }

  .right-box {
    width: 450px;
    height: 120px;
    border-radius: 5px;
    background-color: hsl(228, 56%, 26%);
    color: hsl(229, 7%, 55%);
    padding: 20px;
    margin-left: -20px;
    text-align: center;
  }

  .top-para p {
    color: hsl(243, 100%, 93%);
    text-align: center;
  }

  .top-para span {
    font-weight: 700;
  }

  .progress-bar1 {
    background-color: hsl(229, 57%, 11%);
    width: 280px;
    height: 10px;
    border-radius: 5px;
    position: relative;
    z-index: 0;
    margin-top: 10px;
    margin: 0 auto;
  }

  .gb-size {
    margin: 0 auto;
  }

  .white-box {
    background-color: #fff;
    width: 120px;
    height: 50px;
    border-radius: 5px 5px 5px 5px;
    margin-top: 60px;
    margin-left: 140px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  .white-box::after {
    display: none;
  }

  .white-box p {
    color: hsl(229, 7%, 55%);
    font-size: 10px;
  }

  .white-box p span {
    font-weight: bolder;
    font-size: 25px;
    color: #000;
  }
}
